*{
    padding: 0;
    margin: 0;
    background-color: #1d1f21;
}

.bar-container {
    background-color: #3c3f41;
    width: 100%;
    height: 10vh;
    align-items: center;
    position: fixed;
}

.main-container {
    width: 100 vw;
    height: 100%;
    
}

.col {
    display: flex;
    flex-flow: column;
    
}

.row {
    display: flex;
    flex-flow: row;
    
}

.bar-title {
    position: relative;
    left: 0;
    justify-content: space-between;
    vertical-align: middle;
    background-color: inherit;
    margin-left: 5%;
}

.nav-container {
margin-left: auto;
    background-color: inherit;
    width: 40%;
    margin-right: 5%;
}

.bar-link {
    background-color: inherit;
    width: 30%;
}

.bar-link-icon {
        background-color: inherit;
}

.bar-link-text {
        background-color: inherit;
}
