*{
    padding: 0;
    margin: 0;
    background-color: #1d1f21;
    
}
body{
    background-color: #1d1f21;
}
@font-face{
    font-family: needForSpeed;
    src: url("fonts/nfs.ttf");
}

.bar-container {
    background-color: #3c3f41;
    width: 100%;
    height: 10vh;
    align-items: center;
    position: fixed;
}

.main-container {
    width: 100 vw;
    height: 300vh;
    
}

.col {
    display: flex;
    flex-flow: column;
    
}

.row {
    display: flex;
    flex-flow: row;
    
}

.bar-title {
    position: relative;
    left: 0;
    justify-content: space-between;
    vertical-align: middle;
    background-color: inherit;
    margin-left: 5%;
    font-family: needForSpeed;
    font-size: 2.5em;
    color: #eacc3a;
}
.bar-title:hover{
    opacity:0.7;
    cursor: pointer;
}

.nav-container {
margin-left: auto;
    background-color: inherit;
    width: 40%;
    margin-right: 5%;
}

.bar-link {
    background-color: inherit;
    width: 30%;
}

.bar-link-icon {
        background-color: inherit;
}

.bar-link-text {
    background-color: inherit;
    font-family: needForSpeed;
    font-size: 1em;
    color: #eacc3a;
    
}
.bar-link-text:hover{
    opacity: 0.5;
    cursor: pointer;
}

    .about-container {
    width: 98.7vw;
    height: 110vh;
    background-image: url(imgs/1366-691-div1.png);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
    background-color: white;
        
}

.about-text {
    color: #535353;
    background-color: transparent;
    
    
    width: 55vw;
    height: 100%;
    font-family: needForSpeed;
    color: #3c3f41;
    
    text-align: left;
    vertical-align: middle;
    
    font-size: 1.28em;
    margin-left: 2%;
    margin-top: 25vh;
}

.stats-container {
    background-image: url(imgs/1366-786-div2.png);
    background-size: 100% 100%;
    height: 110vh;
    position: relative;
}

.top5-container {
    background-image: url(imgs/div3.jpg);
    background-size: 100% 100%;
    height: 110vh;
}

.top-left {
    background-color: transparent;
    width: 50vw;
    height: 100%;
    font-family: needForSpeed;
    color: #3c3f41;
    
    text-align: left;
    vertical-align: middle;
    
    font-size: 2em;
    margin-left: 1%;
}


.bot-right {
    background-color: transparent;
    color: #3c3f41;
    font-family: needForSpeed;
    width: 50vw;
    text-align: right;
    margin-top: 20vh;
    font-size: 3em;
    margin-right: 1.5%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 3%;
}
.bot-right:hover{
    
    color: #535353;
}

.top5-item {
    width: 100vw;
    height: 
}

.full-name {
    font-size: 1.8em;
    background-color: transparent;
    
}
.full-name:hover{
    cursor: pointer;
    color: #535353;
}

.aka-name {
     font-size: 1.8em;
    background-color: transparent;
}
.aka-name:hover{
    
    color: #535353; cursor:default;
}

.top-item-1 {
    -webkit-clip-path: polygon(66% 2%, 66% 2%, 75% 100%, 0% 100%);
    background-image: url(imgs/div3.jpg);
    width: 30%;
    height: 80vh;
}
